@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --border-color: blue; /* initial color */
}

.generating-button {
  animation: border-color-cycle 1s linear infinite alternate; /* Use animation for cycling border color */
}


@keyframes border-color-cycle {
  from {
    border-color: blue;
  }
  to {
    border-color: lime;
  }
}